.project_section {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  margin: 3%;
  background: rgba(83, 162, 190, 0.3);
  border-radius: 1px;
  border: 1px solid #53A2BE;
}

.tRow {
  height: 680px;
  padding: 0.6%;
  border-radius: 1px;
}

.bRow {
  height: 420px;
  padding: 0.6%;
  border-radius: 1px;
}

.tRow:hover, .bRow:hover {
  transform: scale(1.1);
}

.project_title {
  margin-left: 8%;
  text-align: left;
  font-size: 2.5em;
}

.project_btn {
  font-size: 1.1em;
  padding: 0.5% 1%;
  margin: 10px 20px 0 0;
  border-radius: 10px;
  background-color: #E9E6FF;
  font-weight: 300;
}

.project_btn:hover {
  cursor: pointer;
  transform: scale(0.98);
  background-color: #F46036;
  color: #E9E6FF;
}

.btn_div {
  margin-left: 10%;
  text-align: left;
  width: 80%;
}

.project_tech {
  width: 40%;
  margin: 4% 10% -50px auto;
}

.project_images {
  margin-left: 3%;
  margin-top: 2%;
}

ul {
  text-align: left;
}

@media screen and (max-width: 1220px) {
  .project_section {
    flex-direction: column;
  }

  .project_title {
    margin: 1% 0 0 9%;
  }
  
  .project_tech {
    margin: 4% auto;
    width: 80%;
  }

  .tRow,
  .bRow {
    width: 90%;
    height: 100%;
    margin: 1.5%;
    border-radius: 1px;
  }
}