.bio_section, .bio_div {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
}

.bio_div, .bio_lists {
  background: rgba(83, 162, 190, 0.3);
  border: 1px solid rgb(83, 162, 190);
  padding: 2%;
}

.bio_div {
  padding: 2%;
  border: 1px solid rgb(83, 162, 190);
  width: 60.5%;
  margin: 1% auto 1% 3%;
}

.bio_lists {
  display: flex;
  flex-direction: column;
  width: 24%;
  border-radius: 20px;
  margin: 1% 3% 1% auto;
}

.list {
  margin: 0;
  padding: 8% 0 0 0;
  width: 100%;
  list-style: none;
}

.bio_pic {
  width: 260px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #151515;
}

.bio_div-pic {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 8%;
}

#about_me {
  width: 80%;
  margin: auto;
}

.about_div {
  width: 50%;
}