.bio_section, .bio_div {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
}

.bio_div, .bio_lists {
  background: rgba(83, 162, 190, 0.3);
  border: 1px solid rgb(83, 162, 190);
  padding: 2%;
}

.bio_div {
  padding: 2%;
  border: 1px solid rgb(83, 162, 190);
  width: 60.5%;
  margin: 1% auto 1% 3%;
  display: flex;
  flex-wrap: wrap;
}

.bio_lists {
  display: flex;
  flex-direction: column;
  width: 24%;
  border-radius: 20px;
  margin: 1% 3% 1% auto;
}

.list {
  margin: 0;
  padding: 8% 0 0 0;
  width: 100%;
  list-style: none;
  font-weight: 300;
}

.bio_pic {
  height: 300px;
  border-radius: 10px;
  border: 1px solid #151515;
}

.bio_div-pic {
  width: 30%;
  margin: 6% auto 0 8%;
  min-width: 300px;
}

#about_me_text {
  width: 60%;
  margin: auto;
  font-size: 1.25em;
}

#about_me_header {
  font-size: 2.5em;
}

.about_div {
  width: 50%;
  min-width: 400px;
}

@media screen and (max-width: 886px) {
  .about_div {
    width: 100%;
  }
}

@media screen and (max-width: 1257px) {
  .bio_div-pic {
    margin: 2%;
  }

  .bio_div {
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 1% 4%;
  }

  .about_div,
  .bio_lists {
    margin: 3%;
  }

  .bio_lists {
    width: 100%;
    flex-direction: row;
    padding-bottom: 4%;
    margin: 1% 4%;
  }
}