.description_div {
  margin-left: 10%;
  text-align: left;
  width: 80%;
}

.map_tech {
  width: 40%;
  margin: 4% 10% 0 auto;
}

.screenshots2 {
  height: 680px;
  margin: 1.5%;
  border-radius: 1px;
}

.screenshots3 {
  height: 520px;
  margin: 1.5%;
  border-radius: 1px;
}

.screenshots2:hover,
.screenshots3:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1220px) {
  .map_tech {
    margin: 4% auto;
    width: 80%;
  }
}