.resume_section {
  padding: 14% 30%;
  display: flex;
  top: -10px;
  position: absolute;
  z-index: 1000;
  background-color: rgb(21, 21, 21);
  height: 225%;
}

#resume {
  width: 875px;
}

#resume:hover {
  transform: scale(1.1);
}

#resume_close {
  font-weight: 900;
  font-size: 3em;
  margin: 50px 150px;
  color: #F46036;
}

#resume_close:hover {
  transform: scale(0.98);
  color: red;
}