button {
  height: 40px;
  width: 15.7%;
  background: #E9E6FF;
  color: #050505;
}

button:hover {
  transform: scale(0.98);
  border: 1px solid black;
  background-color: #0A2239;
  cursor: pointer;
  color: #e9e6ff;
  border-top: 1px solid #E9E6FF;
  border-left: 1px solid #e9e6ff;
  outline: none;
}

#btn1 {
  border-radius: 15px 0 0 15px;
}

#btn6 {
  border-radius: 0 15px 15px 0;
}